@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou');

* {
	margin:0;
	padding:0;
	color:#000;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	box-sizing: border-box;
}

.fn-font {
	font-family: 'Noto Sans KR', sans-serif;
}

.container {
	width:80%;
	margin:0 auto;
}

header {
	width:100%;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul, ol, li { list-style:none; margin:0; padding:0; }

ul.myMenu {}
ul.myMenu > li {
    font-size: 20px;
    display:inline-block; 
    width:200px;
    padding:5px 10px; 
    text-align:center; 
	position: relative;
}
ul.myMenu > li ul.submenu { display:none; position: absolute; top:30px; }
ul.myMenu > li:hover { cursor: pointer; }
ul.myMenu > li:hover ul.submenu { display:block; }
ul.myMenu > li ul.submenu > li { display:inline-block; width:95px; padding:5px 10px; background:#fff; text-align:center; float: left; font-size: 15px;}
ul.myMenu > li ul.submenu > li:hover { background:#f1f1f1; cursor: pointer; }

hr {
    border: 0;
    height: 5px;
    background-color: #000
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.header2 {
		font-size: 25px;
	}

	ul.myMenu > li.menu1 {
		display: none;
	}

	ul.myMenu > li.menu2 {
		width: 100px;
	}

	ul.myMenu > li.menu3 {
		display: none;
	}
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
	.header2 {
		font-size: 25px;
	}

	ul.myMenu > li {
		width: 80px;
	}
  }

  @media only screen and (min-width: 660px) {
	.header2 {
		font-size: 25px;
	}

	ul.myMenu > li {
		width: 100px;
	}
  }

  @media only screen and (min-width: 720px) {
	.header2 {
		font-size: 25px;
	}

	ul.myMenu > li {
		width: 120px;
	}
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 815px) {
	ul.myMenu > li {
		width: 130px;
	}
  }
  @media only screen and (min-width: 890px) {
	ul.myMenu > li {
		width: 150px;
	}
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
	.header2 {
		font-size: 25px;
	}
	ul.myMenu > li {
		width: 170px;
	}
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1100px) {
	.header2 {
		font-size: 30px;
	}
	ul.myMenu > li {
		width: 200px;
	}
  }