@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou');

* {
	margin:0;
	padding:0;
	color:#000;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	box-sizing: border-box;
}

.fn-font {
	font-family: 'Noto Sans KR', sans-serif;
}

.container {
	width:80%;
	margin:0 auto;
}

header {
	width:100%;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* header > nav {
	width:600px;
	height:100%;
} */

/* .headerDiv{
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
} */

ul, ol, li { list-style:none; margin:0; padding:0; }

ul.myMenu {}
ul.myMenu > li {
    font-size: 20px;
    display:inline-block; 
    width:200px; 
    padding:5px 10px; 
    background:white;
    text-align:center; 
    position: relative; 
}
ul.myMenu > li ul.submenu { display:none; position: absolute; top:30px; }
ul.myMenu > li:hover { cursor: pointer; }
ul.myMenu > li:hover ul.submenu { display:block; }
ul.myMenu > li ul.submenu > li { display:inline-block; width:95px; padding:5px 10px; background:#fff; text-align:center; float: left; font-size: 15px;}
ul.myMenu > li ul.submenu > li:hover { background:#f1f1f1; cursor: pointer; }

/* li.topmenu {
	height: 100%;
	display: flex;
    align-items: center;
    background-color: white;
    border: none;
    outline: 0;
} */

hr {
    border: 0;
    height: 5px;
    background-color: #000
}